/*CONFIGURACIONES UNIVERSALES*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Canvas donde se pinta la simulación del MCU*/
.mcu-canvas {
    width: 400px;
    height: 400px;
    border: 1px solid #000;
}

/*SECCIÓN DE PARÁMETROS*/
.seccion-de-parametros {
    padding: 0 10px;
    border: 1px solid #000; /*Este estilo de borde es temporal*/
    width: 500px;
}

.init, .selector_de_parametros, .parametro1-label, .parametro2-label {
    display: block;
    margin: 10px 0;
}