/*CONFIGURACIONES UNIVERSALES*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --canvas-width-and-height: 600px;
}

section {
    display: inline-block;
}

/*SECCIÓN DE CANVAS*/
.canvas_y_parametros {
    display: flex;
}

/*Canvas donde se pinta la simulación del MCU*/
.canvas-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas-section > canvas {
    width: var(--canvas-width-and-height);
    height: var(--canvas-width-and-height);
    border: 1px solid #000;
    /*Este estilo de borde es temporal*/
}

.canvas-section > div {
    display: flex;
}

.canvas-section > div > button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
}

.reboot-button {
    display: none;
}

/*SECCIÓN DE PARÁMETROS*/

.column1 {
    display: flex;
    flex-direction: column;
}

.seccion-de-parametros > form {
    padding: 0 10px;
    border: 1px solid #000;
    /*Este estilo de borde es temporal*/
    width: 500px;
}

.init, .selector_de_parametros, .parametro1-label, .parametro2-label {
    display: block;
    margin: 10px 0;
}

/*SECCIÓN DE VISUALIZACIÓN DE VECTORES*/
.visualizacion-de-vectores, .visualizacion-de-valores {
    border: 1px solid #000; /*Borde de temporal*/
    padding: 10px;
}

.visualizacion-de-vectores > ul {
    list-style: none;
}

.visualizacion-de-vectores > ul > li {
    display: block;
    padding: 5px 0;
}

.componentes {
    margin-left: 15px;
}

.componentes > input, .componentes > span {
    display: none;
}

/*SECCIÓN DE VISUALIZACIÓN DE VALORES*/
.visualizacion-de-valores {
    display: flex;
    justify-content: space-around;
}

.visualizacion-de-valores p {
    line-height: 20px;
}